<section id="education">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="h1-heading">Education</h1>
        <div class="card d-flex w-100 mb-4 justify-content-center">
          <p-card
            header="Bachelor of Engineering - Applied Computer Science (2018.10 - 2022.01)"
            subheader="AGH University of Science and Technology in Krakow"
          >
            <p class="m-0">Degree: 5.0</p>
          </p-card>
        </div>
        <div class="card d-flex w-100 justify-content-center">
          <p-card
            header="Master of Engineering - Applied Computer Science (2022.03 - 2023.07)"
            subheader="AGH University of Science and Technology in Krakow"
          >
            <p class="m-0">Degree: 5.0</p>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</section>
