section {
  background: url(https://img.freepik.com/premium-vector/white-background-with-white-background-white-background_594699-110.jpg)
    no-repeat center center fixed;
  background-size: cover;
  padding: 64px 0 64px 0;
}
