section {
  height: 5vh;
  margin: 10px 25px 10px 25px;
}

img {
  height: 100px;
}

.top-menu {
  @media only screen and (max-width: 782px) {
    display: none;
  }
}

.mobile-menu {
  @media only screen and (min-width: 781px) {
    display: none;
  }
}

:host ::ng-deep .card {
  border: none;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  padding: 5px 16px 5px 16px !important;
}
