<section id="about">
  <div class="container">
    <div class="row"></div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="h1-heading">About me</h1>
      <div class="about-me">
        <img src="../../assets/photo.jpg" alt="portrait" />
        <div class="d-flex flex-column">
          <p>
            I have 4 years of commercial experience in Angular. I'm
            detail oriented person with problem-solving skills and strategic
            thinking. I like to create user friendly and well-designed web
            pages.
          </p>
          <p>
            I'm open to job opportunities where I can contribute, sharpen my
            skills and grow. If you have a good opportunity that matches my
            skills and experience then don't hesitate to contact me.
          </p>
        </div>
      </div>
      <div
        class="d-flex flex-column justify-content-between align-items-center"
      >
        <h2 class="h2-heading skill-header">Skills</h2>
        <div class="d-flex flex-wrap justify-content-center skills-container">
          <p-chip label="Angular"></p-chip>
          <p-chip label="SCSS"></p-chip>
          <p-chip label="Sass"></p-chip>
          <p-chip label="HTML"></p-chip>
          <p-chip label="JavaScript"></p-chip>
          <p-chip label="TypeScript"></p-chip>
          <p-chip label="NestJS"></p-chip>
          <p-chip label="Node.js"></p-chip>
          <p-chip label="Bootstrap"></p-chip>
          <p-chip label="PrimeNG"></p-chip>
          <p-chip label="REST API"></p-chip>
          <p-chip label="RxJS"></p-chip>
          <p-chip label="Figma"></p-chip>
          <p-chip label="WCAG"></p-chip>
          <p-chip label="Jest"></p-chip>
          <p-chip label="Cypress"></p-chip>
          <p-chip label="AWS"></p-chip>
          <p-chip label="MySQL"></p-chip>
          <p-chip label="PostgreSQL"></p-chip>
        </div>
      </div>
    </div>
  </div>
</section>
