<section id="about">
  <div class="container">
    <div class="row"></div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="h1-heading">About me</h1>
      <div class="about-me">
        <img src="../../assets/photo.jpg" alt="portrait" />
        <div class="d-flex flex-column">
          <p>
            I have almost 3 years of commercial experience in Angular. I'm detail
            oriented person with problem-solving skills and strategic thinking.
            I like to create user friendly and well-designed web pages.
          </p>
          <p>
            I'm open to job opportunities where I can contribute, sharpen my
            skills and grow. If you have a good opportunity that matches my
            skills and experience then don't hesitate to contact me.
          </p>
        </div>
      </div>
      <div
        class="d-flex flex-column justify-content-between align-items-center"
      >
        <h2 class="h2-heading skill-header">Skills</h2>
        <div class="d-flex flex-wrap justify-content-center skills-container">
          <div class="skill">Angular</div>
          <div class="skill">SCSS</div>
          <div class="skill">Sass</div>
          <div class="skill">HTML</div>
          <div class="skill">JavaScript</div>
          <div class="skill">TypeScript</div>
          <div class="skill">Bootstrap</div>
          <div class="skill">RxJS</div>
          <div class="skill">Figma</div>
          <div class="skill">WCAG</div>
          <div class="skill">Jest</div>
          <div class="skill">Cypress</div>
          <div class="skill">AWS</div>
          <div class="skill">MySQL</div>
        </div>
      </div>
    </div>
  </div>
</section>
