section {
  padding: 64px 0 64px 0;
}

.h1-heading {
  text-align: center;
}

.image {
  border-radius: 50% !important;
  color: white;
}

:host ::ng-deep .p-card-content {
  text-align: left;
}

:host ::ng-deep .card {
  border: none;
}
