<section id="projects">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="h1-heading">Projects</h1>
        <img src="../../assets/spacex.png" alt="spacex" />
        <a
          pButton
          styleClass="p-button-raised p-button-help p-button-lg"
          label="Go to project"
          href="https://github.com/dazaiii/spacex-web"
          target="_blank"
        ></a>
        <p>Tech stack: Angular, Angular Material, TypeScript, SCSS, HTML</p>
        <p class="mb-4">
          Application is connected to Spacex API. It consists of menu, home
          page, lists of spacex rockets and ships and their details. Allows to
          read specific information about ships and rockets. App consists of
          pagination and searchbar functionalities. App is created in
          architecture package by feature.
        </p>
        <img class="quiz-img" src="../../assets/quizapp.png" alt="quizapp" />
        <a
          pButton
          styleClass="p-button-raised p-button-help p-button-lg"
          label="Go to project"
          href="https://github.com/dazaiii/quiz-app"
          target="_blank"
        ></a>
        <p>Tech stack: Angular, Angular Material, TypeScript, SCSS, HTML</p>
        <p>
          App is using public Quiz API. App allows to take a quiz, compare your
          results with correct answers, mark quiz as favourite and write
          comments to quizes. User can choose quizes from seven categories,
          three difficulty levels and choose amount of questions. Searchbar
          allows to quickly find an interesting quiz. User input for comments is
          validated and display useful validation messages.
        </p>
      </div>
    </div>
  </div>
</section>
