@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
}

@font-face {
  font-family: "HeaderFont";
  src: url("/assets/Caprasimo-Regular.ttf");
}

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "HeaderFont";
}

.h1-heading {
  margin-bottom: 64px;
}

.h2-heading {
  letter-spacing: 3px;
  font-family: "HeaderFont";
}

.h2-logo {
  font-size: 20px;
  letter-spacing: 3px;
  font-family: "HeaderFont";
  margin: 0px;
}
