<section id="home" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="d-flex flex-column align-items-center">
        <h1>Frontend developer</h1>
        <h4>
          I'm keen on learning frontend technologies and developing my skills in
          Angular
        </h4>
        <div>
          <ul>
            <li>
              <p-button
                styleClass="p-button-raised p-button-help p-button-lg"
                label="About"
                (click)="navigate('about')"
              ></p-button>
            </li>
            <li>
              <p-button
                styleClass="p-button-raised p-button-help p-button-lg"
                label="Projects"
                (click)="navigate('projects')"
              ></p-button>
            </li>
            <li>
              <p-button
                styleClass="p-button-raised p-button-help p-button-lg"
                label="Experience"
                (click)="navigate('experience')"
              ></p-button>
            </li>
            <li>
              <p-button
                styleClass="p-button-raised p-button-help p-button-lg"
                label="Education"
                (click)="navigate('education')"
              ></p-button>
            </li>
            <li>
              <p-button
                styleClass="p-button-raised p-button-help p-button-lg"
                label="Contact"
                (click)="navigate('contact')"
              ></p-button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
